<ion-content [fullscreen]="true">
    <div class="intro-container">

        <!-- SVG SHAPE -->
        <div class="intro-image-container">
            <img src="assets/intro/introslider1.svg" alt="Intro" class="intro-shape intro-bg" />
            <img src="assets/intro/lince_corre.png" alt="Sobreposta" class="intro-overlay" />
        </div>

        <!-- CONTENT -->
        <div class="intro-content">
            <h1 class="intro-title">{{ t('intro.slide1.title') }}</h1>
            <p class="intro-description">
                {{ t('intro.slide1.description') }}
            </p>
        </div>

        <!-- FOOTER -->
        <div class="intro-footer">
            <div class="pagination">
                <span class="dot active"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>

            <button class="custom-next-button" (click)="next()">
                <img src="assets/intro/next_button.svg" alt="Próximo" />
            </button>
        </div>

    </div>
</ion-content>