<ion-content [fullscreen]="true">
    <div class="intro-container">
        <div class="intro-image-container">
            <img src="assets/intro/slide1.svg" alt="Activio" />
        </div>

        <div class="intro-content">
            <h1 class="intro-title">Bem-vindo ao Activio</h1>
            <p class="intro-description">
                A sua app de atividades físicas personalizada para uma vida mais saudável e ativa. Alcance os seus
                objetivos fitness.
            </p>
        </div>

        <div class="intro-footer">
            <div class="pagination">
                <span class="dot active"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>

            <ion-fab vertical="bottom" horizontal="end" slot="fixed">
                <ion-fab-button (click)="next()">
                    <ion-icon name="chevron-forward"></ion-icon>
                </ion-fab-button>
            </ion-fab>
        </div>
    </div>
</ion-content>