/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
/* @import '@ionic/angular/css/palettes/dark.system.css'; */

/* Global styles for light theme - All titles black */

/* iOS platform */
.ios .light h1,
.ios .light h2,
.ios .light h3,
.ios .light .page-title,
.ios .light .section-title,
.ios .light .card-title {
    color: #000000 !important;
}

/* Material Design platform */
.md .light h1,
.md .light h2,
.md .light h3,
.md .light .page-title,
.md .light .section-title,
.md .light .card-title {
    color: #000000 !important;
}

/* Generic .light selectors */
.light h1,
.light h2,
.light h3,
.light .page-title,
.light .section-title,
.light .card-title {
    color: #000000 !important;
}

/* Specific selectors for common title classes */
.light .header h1,
.light .welcome-title,
.light .intro-title,
.light .profile-name {
    color: #000000 !important;
}