<ion-content [fullscreen]="true" class="profile-content">
  <div class="container">
    <!-- Ilustração -->
    <div class="image-wrapper">
      <img src="assets/intro/lince_sentado.png" alt="Cat Illustration" />
    </div>

    <!-- Títulos -->
    <h2>{{ t('completarperfil.title') }}</h2>
    <p class="subtitle">{{ t('completarperfil.subtitle') }}</p>

    <!-- Género -->
    <ion-item lines="none" class="input-item">
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-select [(ngModel)]="gender" [placeholder]="t('completarperfil.chooseGender')" interface="action-sheet">
        <ion-select-option value="masculino">{{ t('completarperfil.male') }}</ion-select-option>
        <ion-select-option value="feminino">{{ t('completarperfil.female') }}</ion-select-option>
        <ion-select-option value="outro">{{ t('completarperfil.other') }}</ion-select-option>
        <ion-select-option value="nao-informar">{{ t('completarperfil.preferNotToSay') }}</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Data de nascimento -->
    <ion-item lines="none" class="input-item" button (click)="abrirCalendario()">
      <ion-icon name="calendar-outline" slot="start"></ion-icon>
      <ion-label>{{ birthdate ? (birthdate | date:'dd/MM/yyyy') : t('completarperfil.birthdate') }}</ion-label>
    </ion-item>

    <!-- Calendário Modal -->
    <ion-modal [isOpen]="showCalendar" (didDismiss)="fecharCalendario()">
      <ng-template>
        <div class="modal-wrapper">
          <ion-datetime presentation="date" [(ngModel)]="birthdate" locale="pt-PT" [max]="maxDate" [min]="minDate"
            (ionChange)="onDataChange()">
            <span slot="title">{{ t('completarperfil.birthdate') }}</span>
          </ion-datetime>
        </div>
      </ng-template>
    </ion-modal>

    <!-- Peso -->
    <div class="row">
      <ion-item lines="none" class="input-item">
        <ion-icon name="body-outline" slot="start"></ion-icon>
        <ion-input [(ngModel)]="weight" type="number" [placeholder]="t('completarperfil.weight')" min="1" max="500">
        </ion-input>
      </ion-item>
      <div class="unit">KG</div>
    </div>

    <!-- Altura -->
    <div class="row">
      <ion-item lines="none" class="input-item">
        <ion-icon name="trending-up-outline" slot="start"></ion-icon>
        <ion-input [(ngModel)]="height" type="number" [placeholder]="t('completarperfil.height')" min="1" max="300">
        </ion-input>
      </ion-item>
      <div class="unit">CM</div>
    </div>

    <!-- Botão -->
    <ion-button expand="block" class="next-btn" (click)="onNext()">
      {{ t('completarperfil.next') }}
    </ion-button>
  </div>
</ion-content>