.profile-content {
  --background: #000;
}

.container {
  padding: 32px 24px;
  max-width: 480px;
  margin: 0 auto;
  text-align: center;
}

.image-wrapper {
  width: 300px;
  height: 240px;
  margin: 0 auto 24px auto;

  background-image: url('/assets/intro/slimecp.png');
  background-size: contain; // o contain, según tu imagen
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 140px;
  }
}

h2 {
  color: #b7ff00;
  font-size: 22px;
  margin-bottom: 6px;
}

.subtitle {
  color: #ccc;
  font-size: 14px;
  margin-bottom: 32px;
}

.input-item {
  --background: #fff;
  --border-radius: 14px;
  margin-bottom: 16px;
  padding: 6px 4px;

  ion-icon {
    color: #999;
    font-size: 20px;
  }

  ion-input,
  ion-select {
    font-size: 15px;
    --color: #2a2a2a;
    color: #2a2a2a;
  }
}

.row {
  display: flex;
  align-items: center;
  gap: 12px;
}

.unit {
  background: #b7ff00;
  color: #000;
  font-weight: bold;
  border-radius: 14px;
  padding: 14px 16px;
  font-size: 14px;
  min-width: 56px;
  text-align: center;
}

.next-btn {
  margin-top: 40px;
  height: 56px;
  font-weight: bold;
  color: #000;
  --background: linear-gradient(90deg, #b7ff00, #d8ff4d);
  --border-radius: 30px;
}