<ion-content fullscreen class="register-content">
  <div class="container">

    <h1>Olá!</h1>
    <h2>Cria uma conta</h2>

    <ion-item lines="none" class="input-item">
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-input placeholder="Nome Completo"></ion-input>
    </ion-item>

    <ion-item lines="none" class="input-item">
      <ion-icon name="call-outline" slot="start"></ion-icon>
      <ion-input type="tel" placeholder="Telemóvel"></ion-input>
    </ion-item>

    <ion-item lines="none" class="input-item">
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-input type="email" placeholder="Email"></ion-input>
    </ion-item>

    <ion-item lines="none" class="input-item">
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      <ion-input type="password" placeholder="Palavra Passe"></ion-input>
      <ion-icon name="eye-off-outline" slot="end"></ion-icon>
    </ion-item>

    <div class="terms">
      <ion-checkbox></ion-checkbox>
      <p>
        Ao continuar, aceita a nossa
        <span>Política de Privacidade</span> e os
        <span>Termos de Utilização</span>.
      </p>
    </div>

    <ion-button expand="block" class="register-btn">
      Registar
    </ion-button>

    <p class="login-text">
      Já tens conta?
      <span>Iniciar Sessão</span>
    </p>

  </div>
</ion-content>

