.register-content {
  --background: #000;
}

.container {
  padding: 40px 24px;
  text-align: center;
  max-width: 480px; 
  margin: 0 auto;
}

h1 {
  color: #fff;
  font-size: 26px;
  margin-bottom: 4px;
}

h2 {
  color: #b7ff00;
  font-size: 22px;
  margin-bottom: 32px;
}

.input-item {
  --background: #fff;
  --border-radius: 14px;
  margin-bottom: 16px;
  padding: 6px 4px;

  ion-icon {
    color: #999;
    font-size: 20px;
  }

  ion-input {
    font-size: 15px;
  }
}

.terms {
  display: flex;
  align-items: flex-start;
  margin: 16px 0 40px;
  text-align: left;

  ion-checkbox {
    margin-right: 10px;
    --checkbox-background-checked: #b7ff00;
    --border-color-checked: #b7ff00;
  }

  p {
    font-size: 12px;
    color: #ccc;
    line-height: 1.4;
  }

  span {
    color: #b7ff00;
  }
}

.register-btn {
  --background: linear-gradient(90deg, #b7ff00, #d8ff4d);
  --border-radius: 30px;
  height: 56px;
  font-weight: bold;
  color: #000;
  margin-bottom: 20px;
}

.login-text {
  color: #fff;
  font-size: 14px;

  span {
    color: #b7ff00;
    font-weight: 600;
  }
}

.toggle-password {
  cursor: pointer;
  font-size: 20px;
  color: #666;
  
  &:hover {
    color: #C6FF00;
  }
}

.terms {
  span {
    color: #C6FF00;
    cursor: pointer;
    font-weight: 600;
    
    &:hover {
      text-decoration: underline;
    }
  }
}

.login-text {
  span {
    color: #C6FF00;
    cursor: pointer;
    font-weight: 700;
    
    &:hover {
      text-decoration: underline;
    }
  }
}