<ion-content [fullscreen]="true">
    <div class="intro-container">

        <!-- SVG SHAPE -->
        <div class="intro-image-container">
            <div class="hero">
                <img src="assets/intro/lince_salta.png" alt="Lince" />
            </div>
        </div>

        <!-- CONTENT -->
        <div class="intro-content">
            <h1 class="intro-title">Treine ao seu ritmo</h1>
            <p class="intro-description">
                Defina metas e mantenha a motivação para um estilo de vida mais ativo.
            </p>
        </div>

        <!-- FOOTER -->
        <div class="intro-footer">
            <div class="pagination">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot active"></span>
            </div>

            <button class="custom-next-button" (click)="next()">
                <img src="assets/intro/next_button.svg" alt="Próximo" />
            </button>
        </div>

    </div>
</ion-content>