<ion-content fullscreen class="onboarding">

    <!-- Área verde superior -->
    <div class="hero">
        <img src="assets/img/lince_salta.png" alt="Lince" />
    </div>

    <!-- Texto -->
    <div class="content">
        <h1>Treine ao seu ritmo</h1>
        <p>
            Defina metas e mantenha a motivação para um estilo de vida mais ativo.
        </p>
    </div>

    <!-- Botão -->
    <ion-button class="next-btn" fill="clear">
        <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-button>

</ion-content>