<ion-content [fullscreen]="true" class="badges-page">
  <div class="container">
    <!-- Header -->
    <div class="header">
      <ion-button fill="clear" class="notification-btn" (click)="goBack()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>

      <h1>{{ t('conquistas.title') }}</h1>

      <div class="placeholder-btn"></div>
    </div>

    <!-- Conquistados -->
    <div class="section">
      <div class="section-title">
        <h2>{{ t('conquistas.achieved') }}</h2>
        <div class="line"></div>
      </div>

      <div class="grid">
        <div class="badge achieved" *ngFor="let badge of achievedBadges" (click)="viewBadgeDetails(badge)">
          <img [src]="badge.icon" />
          <p>{{ t(badge.label) }}</p>
        </div>
      </div>
    </div>

    <!-- Por conquistar -->
    <div class="section">
      <div class="section-title">
        <h2>{{ t('conquistas.locked') }}</h2>
        <div class="line"></div>
      </div>

      <div class="grid">
        <div class="badge locked" *ngFor="let badge of lockedBadges" (click)="viewBadgeDetails(badge)">
          <img [src]="badge.icon" />
          <p>{{ t(badge.label) }}</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>