<ion-content fullscreen class="badges-page">

  <!-- Header -->
  <div class="header">
    <ion-button fill="clear" class="icon-btn">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>

    <h1>Badges</h1>

    <ion-button fill="clear" class="icon-btn">
      <ion-icon name="ellipsis-horizontal"></ion-icon>
    </ion-button>
  </div>

  <!-- Conquistados -->
  <div class="section">
    <div class="section-title">
      <h2>Conquistados</h2>
      <div class="line"></div>
    </div>

    <div class="grid">
      <div class="badge achieved" *ngFor="let badge of achievedBadges">
        <img [src]="badge.icon" />
        <p>{{ badge.label }}</p>
      </div>
    </div>
  </div>

  <!-- Por conquistar -->
  <div class="section">
    <div class="section-title">
      <h2>Por conquistar</h2>
      <div class="line"></div>
    </div>

    <div class="grid">
      <div class="badge locked" *ngFor="let badge of lockedBadges">
        <img [src]="badge.icon" />
        <p>{{ badge.label }}</p>
      </div>
    </div>
  </div>

</ion-content>
